body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.reactable-page-button{
  color: #2f1e91 !important;
  margin-right: 10px;
}

.reactable-previous-page{
  color: #2f1e91 !important;
  margin-right: 10px;
}

.reactable-next-page{
  color: #2f1e91 !important;
  margin-right: 10px;
}

